@model LibrApp2.Models.Book

@{
    ViewBag.Title = "Details";
}

<h3>@Model.Name - details</h3>
<table class="table table-hover table-bordered">
    <thead>
    <th class="col-md-1">@Html.DisplayNameFor(model => model.AverageRating)</th>
    <th class="col-md-4">@Html.DisplayNameFor(model => model.Name)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.DatePublished)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.Genre)</th>
    <th class="col-md-3">@Html.DisplayNameFor(model => model.Authors)</th>
    </thead>
    <tbody>
    <td>
        @Html.DisplayFor(modelItem => Model.AverageRating)/10
    </td>
    <td>
        @Html.ActionLink(Model.Name, "Edit", new { id = Model.Id }, null)
    </td>
    <td>
        @Model.DatePublished.Value.ToShortDateString()
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Genre.Name)
    </td>
    <td>
        @String.Join(", ", Model.Authors.Select(a => a.FullName).ToArray())
    </td>
    </tbody>
</table>

<h4>Reviews for @Model.Name:</h4>
<table class="table table-hover table-bordered">
    <thead>
    <th class="col-md-1">@Html.DisplayNameFor(model => model.Reviews.First().Rate)</th>
    <th class="col-md-9">@Html.DisplayNameFor(model => model.Reviews.First().Content)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.Reviews.First().UserProfile.Username)</th>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Rate/10</td>
                <td>@review.Content</td>
                <td>@review.UserProfile.Username</td>
            </tr>
        }
    </tbody>
</table>

<h4>Users who have this book on their bookshelf</h4>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserProfiles)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model.UserProfiles)
        {
            <tr>
                <td>@Html.ActionLink(user.Username, "Details", "UserProfiles", new { id = user.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
