@model LibrApp2.Models.Book

@{
    ViewBag.Title = "Details";
}

<h3>@Model.Name - details</h3>

@if (User.IsInRole("Admin"))
{
    <div id="admin-buttons">
        @Html.ActionLink("Edit book", "edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
        @Html.ActionLink("Manage authors", "showavailableauthors", new { bookId = Model.Id }, new { @class = "btn btn-warning btn-sm" })
        @Html.ActionLink("Delete book", "delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
    </div>
}

<table class="table table-hover table-bordered">
    <thead class="bg-primary">
    <th class="col-md-1">@Html.DisplayNameFor(model => model.AverageRating)</th>
    <th class="col-md-4">@Html.DisplayNameFor(model => model.Name)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.DatePublished)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.Genre)</th>
    <th class="col-md-3">@Html.DisplayNameFor(model => model.Authors)</th>
    </thead>
    <tbody>
    <td>
        @Html.DisplayFor(modelItem => Model.AverageRating)/10
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Model.DatePublished.Value.ToShortDateString()
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Genre.Name)
    </td>
    <td>
        @String.Join(", ", Model.Authors.Select(a => a.FullName).ToArray())
    </td>
    </tbody>
</table>

@Html.ActionLink("Show me detailed reviews", "showreviews", "Reviews", new { id = Model.Id }, new { @class = "btn btn-primary" })

<div>
    <h4>Reviews for @Model.Name:</h4>

</div>

<table id="reviews" class="table table-hover table-bordered">
    <thead class="bg-info">
    <th class="col-md-1">@Html.DisplayNameFor(model => model.Reviews.First().Rate)</th>
    <th class="col-md-8">@Html.DisplayNameFor(model => model.Reviews.First().Content)</th>
    <th class="col-md-2">@Html.DisplayNameFor(model => model.Reviews.First().UserProfile.Username)</th>
    @if (User.IsInRole("Admin"))
    {
        <th class="col-md-2">Admin options</th>
    }
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Rate/10</td>
                <td>@review.Content</td>
                <td>@review.UserProfile.Username</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = review.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = review.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<h4>Users who have this book on their bookshelf</h4>
<table id="users" class="table table-hover table-bordered">
    <thead class="bg-info">
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserProfiles)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model.UserProfiles)
        {
            <tr>
                <td>@Html.ActionLink(user.Username, "Details", "UserProfiles", new { id = user.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "IndexAPI")
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users").dataTable();
            $("#reviews").dataTable();
        });
    </script>
}