@model IEnumerable<LibrApp2.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>List of books (server-side version)</h2>
<h5>This is standard version of the view</h5>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("API version", "IndexAPI", null, new { @class = "btn btn-default btn-sm" })
</p>



<table id="books" class="table table-hover table-bordered">
    <thead class="bg-default">
        <tr>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th class="col-md-1">
                Rate
            </th>
            <th class="col-md-2"></th>
            <th class="col-md-2">Admin options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @String.Join(", ", item.Authors.Select(a => a.FullName).ToArray())
                </td>
                @if (item.AverageRating != 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageRating)
                    </td>
                }
                else
                {
                    <td></td>}
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Add to bookshelf", "AddToBookshelf", new { id = item.Id }, new { id = "addButton" })</p>
                    }
                    <p>@Html.ActionLink("Show reviews", "ShowReviews", "Reviews", new { id = item.Id }, null)</p>
                </td>
                <td>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
                    <p>@Html.ActionLink("Manage authors", "ShowAvailableAuthors", new { bookId = item.Id }, null)</p>

                </td>
            </tr>

        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#books").dataTable();

            $("#books").on("click", "#addButton", function (e) {
                var button = $(this);
                e.preventDefault();
                $.ajax({

                    url: $(this).attr("href"), // comma here instead of semicolon
                    success: function () {
                        var n = noty({
                            text: 'Book was added to your bookshelf',
                            layout: 'topRight',
                            theme: 'relax',
                            type: 'success',
                            animation: {
                                open: 'animated bounceInRight',
                                close: 'animated zoomOutRight'
                            },
                            timeout: 2000
                        });
                    },
                    error: function () {
                        var n = noty({
                            text: 'You already have this book in your bookshelf',
                            layout: 'topRight',
                            theme: 'relax',
                            type: 'warning',
                            animation: {
                                open: 'animated bounceInRight',
                                close: 'animated zoomOutRight'
                            },
                            timeout: 2200
                        });
                    }
                });
            });
        });
    </script>
}