@using LibrApp2.Models
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("LibrApp2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Books", "IndexAPI", "Books")</li>
                <li>@Html.ActionLink("My Bookshelf", "MyBookshelf", "Books")</li>
                <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("All users", "Index", "UserProfiles")</li>
                    <li>@Html.ActionLink("All reviews", "Index", "Reviews")</li>
                }
                <li>@Html.ActionLink("ToDo", "ToDo", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
