@model LibrApp2.Models.Review
@{
    ViewBag.Title = "ShowSingleReview";
}

<h2>Your review of "@Model.Book.Name"</h2>

<table class="table table-hover table-bordered">
    <thead class="bg-default">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Rate)/10
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </tbody>
</table>